<!doctype html>
<html class="no-js" lang="" ng-app="sparqApp" id="ng-app">
  <head>
    <title data-ng-bind="$state.current.data.title + ' | Sparq'">Sparq</title>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="desc here">
    <meta name="keywords" content="really cool stuff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,600italic,700">

    <!-- build:css styles/app.css -->
      <!-- inject:css -->
      <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body class="bg-white-offset">

    <!--[if lt IE 10]>
      <div class="alert-banner-danger bad-browser">
        <p><strong>Your browser is out of date and may not display all features of this websites. Upgrade your browser below for a better experience.</strong></p>
        <p class="good-browser"><a href="http://www.google.com/chrome" rel="nofollow">Google Chrome</a>, <a href="http://www.firefox.com/" rel="nofollow">Mozilla Firefox</a>, <a href="http://www.apple.com/safari/" rel="nofollow">Safari</a>, <a href="http://www.opera.com/" rel="nofollow">Opera</a>, <a href="http://windows.microsoft.com/ie" rel="nofollow">Internet Explorer</a></p>
      </div>
    <![endif]-->

    <!--[if lt IE 9]>
      <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js' %>
      <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js' %>
      <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/json3/3.2.5/json3.min.js' %>
      <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js' %>
    <![endif]-->

    <nav class="bg-slate position-relative border-bottom clearfix" style="height:70px">
      <a class="color-gray font-bold display-block px-h" href="https://github.com/ashtonthomas/bento-wiki-spider" target="_blank">
        Source Code
      </a>

      <a class="color-gray font-bold display-block px-h" href="https://bento-wiki-spider.herokuapp.com">
        Home
      </a>
    </nav>

    <!-- Inline - haven't fully learned the functional css names yet -->
    <!-- https://github.com/brousalis/pcss -->
    <div ui-view autoscroll="true" style="padding: 20px"></div>

    <!-- build:js(source) app/vendor.js -->
      <!-- bower:js -->
      <!-- endbower -->

      <!-- inject:vendor -->
      <!-- endinject -->
    <!-- endbuild -->

    <!-- build:js app/app.js -->
      <!-- inject:templates -->
      <!-- endinject -->

      <!-- inject:js -->
      <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
